/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-primary: rgba(180, 208, 231, 1);
    --dropbox-lighter: rgba(255, 255, 255, 1);
    --dropbox-buttons: rgba(0, 97, 255, 1);
    --dropbox-danger: rgba(97, 8, 43, 1);
    --dropbox-darker: rgba(0, 0, 0, 1);
    --dropbox-sponsor-designit-s: #a2d39b;
    --dropbox-sponsor-asu: #61082b;
    --dropbox-sponsor-uf: #0093ce;
    --dropbox-sponsor-topps: #ff1c1c;
    --dropbox-sponsor-wbr: #d5001f;
    --dropbox-sponsor-lp: #0d2481;
    --dropbox-sponsor-cco: #ffd830;
    --dropbox-sponsor-designit: #f5f5f5;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

ul>li {
    padding: 1rem;
}

li>a {
    text-decoration: none;
    color: var(--dropbox-darker);
}

h1 {
    font-size: 60px;
    padding: 3rem 0;
}

h2 {
    font-size: 30px;
    padding: 3rem 0;
}

label {
    padding-right: 2rem;
}

.btn-primary {
    padding: 0.5rem;
    color: var(--dropbox-lighter);
    background-color: var(--dropbox-buttons);
    border: transparent;
}

.site-flex {
    display: flex;
    justify-content: center;
}

/* #endregion Common */

/* #region Header */

header {
    background-color: var(--dropbox-lighter);
    padding: 0 1rem;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.header-right,
.header-right>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left,
.header-left>ul {
    display: flex;
    align-items: center;
}

/* #endregion Header */

/* #region Main */

.jumbotron {
    background-color: var(--dropbox-primary);
    display: flex;
    justify-content: center;
}

.container-jumbo {
    width: 900px;
}

.jumbo-img {
    width: 70%;
    height: 70%
}

.jumbo-paragraf-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.jumbo-paragraf {
    width: 40%;
}

.jumbo-paragraf>p,
.jumbo-paragraf>button {
    margin-bottom: 1rem;
}

.arrow-down {
    font-size: 50px;
    margin-top: 3rem;
}

.business-plan {
    display: flex;
    justify-content: center;
    background-color: var(--dropbox-lighter);
}

.business-plan-top {
    width: 800px;
    padding-top: 8rem;
}

.business-plan-top>h2,
.business-plan-top>input {
    padding-bottom: 2rem;
}

.plan-sheet {
    display: flex;
}

.user-type-info,
.enterprise {
    border: 1px groove var(--dropbox-darker);
    padding: 2rem;
}

.user-type-info:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

.plan-type-container {
    display: flex;
}

.enterprise {
    margin-top: 1rem;
}

.partner {
    background-color: var(--dropbox-lighter);
}

.btn-partner {
    padding: 0.5rem;
    background-color: var(--dropbox-lighter);
}

.container {
    width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

.site-flex>img {
    width: 400px;
    margin-top: 5rem;
}

.partner-text {
    margin-top: 6rem;
    margin-left: 2rem;
}

.partner-text>p {
    padding: 1rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-4>img {
    max-width: 100%;
}

.card-body {
    padding: 1rem;
}

.card-body>p {
    padding-top: 1rem;
}

.link-discover>a {
    margin-bottom: 5rem;
}

.team-logo {
    display: flex;
}

.team-logo>.left,
.team-logo>.right,
.team-logo>.center {
    flex-grow: 1;
    aspect-ratio: 1;
}

.left-container {
    height: 400px;
    width: 400px;
    background-color: var(--dropbox-primary);
}

.left>svg {
    fill: var(--dropbox-lighter);
}

.left-wrap {
    display: flex;
}

.designit-s-logo {
    background-color: var(--dropbox-sponsor-designit-s);
    width: 200px;
    height: 200px;
}

.asu-logo {
    background-color: var(--dropbox-sponsor-asu);
    width: 200px;
    height: 200px;
}

.ud-logo {
    background-color: var(--dropbox-sponsor-uf);
    width: 200px;
    height: 200px;
}

.tops-logo {
    background-color: var(--dropbox-sponsor-topps);
    width: 200px;
    height: 200px;
}


/* #endregion Main */

/* #region Footer */

/* #endregion Footer */