/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #endregion Common */

/* #region Header */

/* #endregion Header */

/* #region Main */

/* #endregion Main */

/* #region Footer */

/* #endregion Footer */